main {
  display: flex;
  font-family: sans-serif;
}
  article {
    position: relative;
    flex: auto;
    width: 50%;
    margin: 10px;
  }
  article#controls {
    max-width: 150px;
    text-align: center;
  }
    button {
      margin: 4px;
    }
    input {
      margin: 4px;
      width: 100%;
    }
    video {
      width: 100%;
    }
    h1 {
      position: absolute;
      left: 0;
      top: 0;
      font-family: monospace;
      color: hotpink;
      background-color: black;
      padding: .25em;
      margin: 0;
    }
    header {
      position: absolute;
      right: 0;
      top: 0;
      font-family: monospace;
      color: limegreen;
      background-color: black;
      padding: .25em;
    }
